<html ng-app="simpleTask">
<head>
	<meta charset="UTF-8">
	<title>Simple Task</title>
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<style>
		body {
			font-family: 'Open Sans', sans-serif;
		}
		h1 {
			font-family: 'Pacifico', cursive;
		}
		.day-seperator {
			border-bottom: 2px solid;
		}
		.running {
			background: #a9e554;
		}
		.action{
			display: inline-block;
			font-size: 28px;
			padding: 20px;
			border-radius: 200px;
			border: 1px solid #eee;
			margin: 20px 5px;
		}
	</style>
</head>
<body ng-controller="TaskCtrl" ng-init="load()">
	<div class="container">
		<div class="page-header">
					<h1>Simple Task</h1>
				</div>
		<form action method="POST" name="taskForm" class="form-inline" role="form" novalidate>

				<div class="form-group">
					<label for="inputTaskName" class="sr-only">Task Name:</label>
					<div class="">
						<input type="text" name="taskName" id="inputTaskName" ng-model="task.name" class="form-control" placeholder="Task Description" required="required">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEstimatedTime" class="sr-only">Estimated Time:</label>
					<div class="">
						<input type="text" name="EstimatedTime" id="inputEstimatedTime" ng-model="task.estimate" class="form-control" placeholder="Estimated time" required="required">
					</div>
				</div>

				<div class="form-group">
					<div class="">
						<button ng-click="createTask(task)" ng-disabled="!taskForm.$valid" class="btn btn-primary">Submit</button>
					</div>
				</div>
		</form>
		<ul class="list-unstyled">
			<li ng-repeat="task in tasks track by $index | orderBy:start:true" ng-class="{'day-seperator': task.newDay, 'running': task.running}" >
				<div class="row">
					<div class="col-xs-12 col-sm-9">
					<div width="45%"><h3>{{task.name}}&nbsp;<span class="small" ng-hide="!task.total">{{task.total | toTime}} </span></h3></div>
					<div><a href ng-click="displayTimes = !displayTimes">{{task.times.length}} time entries</a></div>
					<div>{{task.estimate}} hrs estimated</div>
					<div>
						<span ng-hide="!task.total">{{ timeLeft[$index] | toTime}}</span>
					</div>
					</div>
					<div class="col-xs-12 col-sm-3 text-center">
						<a class="action" ng-show="!task.running" href ng-click="startTask($index)"><span class="glyphicon glyphicon-play"></span></a>
						<a class="action" ng-show="task.running" href ng-click="stopTask($index)"><span class="glyphicon glyphicon-stop"></span></a>
						<a class="action" href ng-click="removeTask($index)"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
				</div>
				<div class="row" ng-show="displayTimes">
					<div class="col-xs-12">
						<ul class="list-unstyled">
							<li ng-repeat="time in task.times track by $index">
								Time Started: {{time.start | date:"yyyy-MM-dd HH:mm:ss"}} |
								Time Ended: {{time.end | date:"yyyy-MM-dd HH:mm:ss"}} <br>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>

	</div>
	<script src="/vendor/angular/angular.js"></script>
	<script src="/vendor/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="/vendor/datejs/build/date.js"></script>
	<script type="text/javascript" src="/src/js/app.js"></script>

</body>
</html>