<html ng-app="simpleTask">
<head>
	<meta charset="UTF-8">
	<title>Simple Task</title>
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
	<style>
		.day-seperator {
			border-bottom: 2px solid;
		}
		.running {
			background: #a9e554;
		}
	</style>
</head>
<body ng-controller="TaskCtrl" ng-init="load()">
	<div class="container">
		<div class="page-header">
					<h2>Simple Task</h2>
				</div>
		<form action method="POST" name="taskForm" class="form-inline" role="form" novalidate>

				<div class="form-group">
					<label for="inputTaskName" class="sr-only">Task Name:</label>
					<div class="">
						<input type="text" name="taskName" id="inputTaskName" ng-model="task.name" class="form-control" placeholder="Task Description" required="required">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEstimatedTime" class="sr-only">Estimated Time:</label>
					<div class="">
						<input type="text" name="EstimatedTime" id="inputEstimatedTime" ng-model="task.estimate" class="form-control" placeholder="Estimated time" required="required">
					</div>
				</div>

				<div class="form-group">
					<div class="">
						<button ng-click="createTask(task)" ng-disabled="!taskForm.$valid" class="btn btn-primary">Submit</button>
					</div>
				</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>Index</th>
					<th>Description</th>
					<th>Time Entries</th>
					<th>Estimated Time</th>
					<th>Total/Duration</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in tasks track by $index | orderBy:start:true" ng-class="{'day-seperator': task.newDay, 'running': task.running}" >
					<td>{{$index}}</td>
					<td width="45%" ng-class="{}">{{task.name}}</td>
					<td>{{task.times.length}}</td>
					<td>{{task.estimate}}</td>
					<td>
						<span ng-hide="!task.total">{{task.total | toTime}} </span>
						<span ng-hide="!task.total">{{ timeLeft[$index] | toTime}}</span>
					</td>
					<td>
						<a ng-show="!task.running" href ng-click="startTask($index)"><span class="glyphicon glyphicon-play"></span></a>
						<a ng-show="task.running" href ng-click="stopTask($index)"><span class="glyphicon glyphicon-stop"></span></a>
						<a href ng-click="removeTask($index)"><span class="glyphicon glyphicon-remove"></span></a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<script src="/vendor/angular/angular.js"></script>
	<script src="/vendor/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="/vendor/datejs/build/date.js"></script>
	<script type="text/javascript" src="/src/js/app.js"></script>

</body>
</html>